
@{
    ViewData["Title"] = "BuyerOrder";
}

<h1>BuyerOrder</h1>
<form method="post" asp-controller="Rider" asp-action="PostOrder">
    เมนู : <input type="text" name="menu" />
    <button type="submit" class="btn btn-primary my-2">ฝากซื้อ</button>
</form>



