
@{
    ViewData["Title"] = "Index";
}

<h1>Index ของ Rider</h1>

<form method="post" asp-controller="Rider" asp-action="Index">
    place: <input type="text" name="place" />
    restaurant: <input type="text" name="restaurant" />
    <button type="submit" class="btn btn-primary my-2">submit</button>
</form>


