@{
    ViewData["Title"] = "Index";
}

<h1>Index ของ Buyer</h1>

<form method="post" asp-controller="Buyer" asp-action="YourOrder">
    menu: <input type="text" name="menu" />
    count: <input type="text" name="count" />
    <input type="hidden" name="id" value="@ViewData["OrderId"]" />
    <button type="submit" class="btn btn-primary my-2">ฝากซื้อ</button>
</form>

<form method="post" asp-controller="Buyer" asp-action="PostOrder">
    <button type="submit" class="btn btn-primary my-2">ยกเลิก</button>
</form>

